---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="h-screen flex items-center justify-center px-6">
    <div class="text-center space-y-4">
      <h1 class="text-3xl font-semibold text-(--pink)">
        Contact
      </h1>

      <p class="text-(--muted) max-w-md">
        This page is in building...
      </p>
      <div class="h-px w-16 bg-(--surface) mx-auto"></div>
      <div class="pt-4">
        <a
          href="/"
          class="text-sm text-(--green) hover:text-(--pink) transition"
        >
          ← Back home
        </a>
      </div>
    </div>
  </main>
</Layout>